.form {
  margin-top: 20px;
}

.search-box {
  width: 200px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 5px;
  min-height: 22px;
}

.form-left {
  width: 50%;
}

.form-right {
  width: 50%;
}

.query-type-button {
	display: inline-block;
	background-color: rgb(218, 213, 213);
	border: 1px solid black;
	color: black;
	padding: 6px;
	border-radius: 5px;
	margin-bottom: 10px;
	cursor: pointer;
  font-weight: bold;
}